body{background-color: lightcyan;/*背景色*/
     background-attachment: fixed;
     background-image: url(i/bgi.JPG);
     background-size:1920px 1080px;
    }
h1 {border-style: solid;/*边框实线*/
    border-radius:25px 25px;/*边框圆角*/
    border-color:gainsboro;/*边框色*/
    margin:0;/*边框默认设置*/
    padding:0;/*边框默认设置*/
    background-color: gainsboro;/*边框背景色*/
    width:500px;
    height:120px;
    
    box-shadow: 10px 10px 5px #888888;/*边框阴影*/
    
    display: block;/*显示为块*/
    position: absolute;
    left: 700px;
    top: 30px;
    
    text-align: center;/*文字水平居中*/
    line-height: 120px;/*文字垂直居中，数据和框高相同*/
    font-family: 'Microsoft Yahei';/*微软雅黑*/
    font-weight:bold;/*加粗*/
    font-size: 50px;/*文字大小*/
    color:white;/*文字为白色*/
    }

p.hm1 {border-style: solid;/*边框实线*/
    border-radius:25px 25px;/*边框圆角*/
    border-color:azure;/*边框色*/
    margin:0;/*边框默认设置*/
    padding:0;/*边框默认设置*/
    background-color: azure;/*边框背景色*/
    width:300px;
    height:80px;
    
    box-shadow: 10px 10px 5px #888888;/*边框阴影*/
    
    display: block;/*显示为块*/
    position: absolute;
    left: 200px;
    top: 550px;
    
    text-align: center;/*文字水平居中*/
    line-height: 80px;/*文字垂直居中，数据和框高相同*/
    font-family: 'Microsoft Yahei';/*微软雅黑*/
    font-weight:bold;/*加粗*/
    font-size: 30px;/*文字大小*/
    color:dimgray;/*文字为白色*/
    }

p.hm2 {border-style: solid;/*边框实线*/
    border-radius:25px 25px;/*边框圆角*/
    border-color:azure;/*边框色*/
    margin:0;/*边框默认设置*/
    padding:0;/*边框默认设置*/
    background-color: azure;/*边框背景色*/
    width:300px;
    height:80px;
    
    box-shadow: 10px 10px 5px #888888;/*边框阴影*/
    
    display: block;/*显示为块*/
    position: absolute;
    left: 200px;
    top: 650px;
    
    text-align: center;/*文字水平居中*/
    line-height: 80px;/*文字垂直居中，数据和框高相同*/
    font-family: 'Microsoft Yahei';/*微软雅黑*/
    font-weight:bold;/*加粗*/
    font-size: 30px;/*文字大小*/
    color:dimgray;/*文字为灰色*/
    }

p.hm3 {border-style: solid;/*边框实线*/
    border-radius:25px 25px;/*边框圆角*/
    border-color:azure;/*边框色*/
    margin:0;/*边框默认设置*/
    padding:0;/*边框默认设置*/
    background-color: azure;/*边框背景色*/
    width:300px;
    height:80px;
    
    box-shadow: 10px 10px 5px #888888;/*边框阴影*/
    
    display: block;/*显示为块*/
    position: absolute;
    left: 200px;
    top: 750px;
    
    text-align: center;/*文字水平居中*/
    line-height: 80px;/*文字垂直居中，数据和框高相同*/
    font-family: 'Microsoft Yahei';/*微软雅黑*/
    font-weight:bold;/*加粗*/
    font-size: 30px;/*文字大小*/
    color:dimgray;/*文字为灰色*/
    }

p.hm4 {border-style: solid;/*边框实线*/
    border-radius:25px 25px;/*边框圆角*/
    border-color:azure;/*边框色*/
    margin:0;/*边框默认设置*/
    padding:0;/*边框默认设置*/
    background-color: azure;/*边框背景色*/
    width:300px;
    height:80px;
    
    box-shadow: 10px 10px 5px #888888;/*边框阴影*/
    
    display: block;/*显示为块*/
    position: absolute;
    left: 600px;
    top: 550px;
    
    text-align: center;/*文字水平居中*/
    line-height: 80px;/*文字垂直居中，数据和框高相同*/
    font-family: 'Microsoft Yahei';/*微软雅黑*/
    font-weight:bold;/*加粗*/
    font-size: 30px;/*文字大小*/
    color:dimgray;/*文字为灰色*/
    }

p.hm5 {border-style: solid;/*边框实线*/
    border-radius:25px 25px;/*边框圆角*/
    border-color:azure;/*边框色*/
    margin:0;/*边框默认设置*/
    padding:0;/*边框默认设置*/
    background-color: azure;/*边框背景色*/
    width:300px;
    height:80px;
    
    box-shadow: 10px 10px 5px #888888;/*边框阴影*/
    
    display: block;/*显示为块*/
    position: absolute;
    left: 600px;
    top: 650px;
    
    text-align: center;/*文字水平居中*/
    line-height: 80px;/*文字垂直居中，数据和框高相同*/
    font-family: 'Microsoft Yahei';/*微软雅黑*/
    font-weight:bold;/*加粗*/
    font-size: 30px;/*文字大小*/
    color:dimgray;/*文字为灰色*/
    }

a {text-decoration: none;
    font-family: 'Microsoft Yahei';/*微软雅黑*/
    font-weight:bold;/*加粗*/
    font-size: 30px;/*文字大小*/
    color:dimgray;/*文字为灰色*/}